<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>タスク編集</title>
</head>
<body>
<div class="header-contents">
    <h2>タスク編集</h2>
</div>
<div class="main-contents">
    <form th:method="put" th:action="@{/update/{id}(id=${formModel.id})}" th:object="${formModel}">
        <div class="form-area">
            <lael>タスク内容</lael>
            <div class="errorMessage" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
            <br/>
            <textarea th:field="*{content}" size="20" maxlength="200"></textarea>
            <br/>
            <label>タスク期限</label>
            <div class="errorMessage" th:if="${#fields.hasErrors('limitDate')}" th:errors="*{limitDate}"></div>
            <input type="date" name="limitDate" th:filed="*{limitDate}"/>
            <br/>
            <input type="submit" value="編集"/>
        </div>
    </form>
</div>
<div class="footer-contents">
    <form action="/">
        <input type="submit" value="戻る">
    </form>
</div>
</body>
</html>