<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>タスク編集</title>
</head>
<body>
<div class="header-contents">
    <h2>タスク編集</h2>
</div>
<div class="main-contents">
    <form th:action="@{/update/{id}(id=${formModel.id}" th:object="${formModel}" th:method="put">
        <div class="errorMessage" th:if="${#fields.hasErrors('content')}" th:errors="*{]"></div>
        <div class="form-area">
            <lael>タスク内容</lael><br/>
            <textarea class="" name="content" th:field="*{content}" size="20" maxlength="140"></textarea><br/>
            <label>タスク期限</label><br/>
            <input type="date"/><br/>
            <input type="submit" value="編集"/>
        </div>
    </form>
</div>
<div class="footer-contents">
    <form action="/">
        <input type="submit" value="戻る">
    </form>
</div>
</body>
</html>